@import url('https://fonts.googleapis.com/css?family=Playfair+Display:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700');
body {
    font-family: 'Lato';
    font-weight: 300;
    overflow-x: hidden;
    font-size: 18px;
    color: rgb(7,45,63);
}
img {
    width: 100%;
}

.margin_after_big {
    margin-bottom: 60px;
}
.margin_after {
    margin-bottom: 30px;
}
.margin_before {
    margin-top: 40px;
}

 /* typografie */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display';
    
}
h1, h2 {
    color: rgba(233,70,81,1);
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 22px;
    color: rgb(7,45,63);
    margin-bottom: 10px;
}
h4 {
    font-size: 20px;
    color: rgba(233,70,81,1);
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: 400;
}


/* voor de quote's uit liedjes */
.quote {
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 0.9em;
    color: #17A5B7;
    border-top: 2px solid #17A5B7;
    padding-top: 10px;
}
.quote_none {
    margin-bottom: 50px;
    font-weight: 100;
    border-bottom: 2px solid #17A5B7;
    padding-bottom: 10px;
}

.line {
    border-bottom: dotted rgba(233,70,81,1) 5px;
    margin: 30px 0px;
    text-align: center;
    padding: 5px 0px;
}
.line h1 {
    font-size: 45px;
}

/* playknop in tracklist */
.button_play {
    background-color: transparent;
    border: none;
    padding: 0 0 0 0;
    display: inline;
}
.button_play:hover {
    border: none;
    background-color:  lightgrey;
}
.button_play img {
    width: 20px;   
}

/* zodat mijn playknop voor de items in mijn tracklist staan */
ol.playlist li {
    margin-left: 75px;
    position: relative;
}

ol.playlist li span {
    left: -70px;
    position: absolute;
}

/* mijn koopknop */
.btn-outline-primary {
    border: solid #17A5B7 2px;
    color: #17A5B7;
    font-size: 20px;
    width: 100%;
    margin: 15px 0px 40px 0px;
    padding: 10px 0px;
    height: 55px;
}
.btn-outline-primary:hover {
    background-color: #17A5B7;
    color: white;
    border: solid #17A5B7 2px;
    font-size: 22px;
}

/* hierin zit mijn carousel zodat ik er een gekleurde achtergrond aan kon geven */
.card {
    background: #D9EDF3;
    border: none;
    border-radius: 0px;
    margin: 50px 0px;
    padding: 0.5em 0em;
}

/* bolletjes onderaan carousel */
.carousel-indicators li {
    width:0.5em;
    height: 0.5em;
    margin-left: 12px;
    margin-right:12px;
    background-color: rgba(233,70,81,0.5);
    border-radius: 50px;
}
.carousel-indicators li.active{
    background-color: rgba(233,70,81,0.9);
}

/* de albumcovers van andere albums van die artiest*/
.andere_albums img {
    padding: 5px 5px;
    width: 100px;
}
.andere_albums {
    margin-left: 20px;
    float: left;    
}


.tooltip-inner  {
    background-color: white;
    border: solid #17A5B7 2px;
    color: #17A5B7;
}
.tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #17A5B7 !important;
}

.end {
    margin-bottom: 450px;
}

/* Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .line h1 {
        font-size: 57px;
    }
    .carousel-indicators li {
        width:0.6em;
        height: 0.6em;
        margin-left: 15px;
        margin-right:15px;
    }
    /* de albumcovers van andere albums van die artiest*/
    .andere_albums img {
        padding: 7px 7px;
        width: 115px;
    }
}
/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) { 
    .line h1 {
        font-size: 70px;
    }
    .carousel-indicators li {
        width:0.7em;
        height: 0.7em;
        margin-left: 20px;
        margin-right:20px;
    }
    body {
        font-size: 19px;
    }
    .quote {
        font-size: 0.8em;
    }
    /* de albumcovers van andere albums van die artiest*/
    .andere_albums img {
        padding: 10px 10px;
        width: 125px;
    }
    br.break  {
            content: ' '
        }
    
    
    }